
.App {
  text-align: center;

  .App-header {
    background: url(./images/colossal-titan.jpeg) fixed center no-repeat;
    background-size: cover;
    
    //background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #022d36;

    .card {
      background: rgba($color: #ec8e41, $alpha: .3);

      #author {
        position: relative;
        left: 30%;
      }

      .buttons {
        display: flex;
        justify-content: space-around;
      }
    }

    .character {
      width: 200px;
    }
  }
}

